<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="/home">scenicPhoto</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li ng-hide="view.showCommentPanel" ng-click="toggleComment()"><a>See Comments</a></li>
        <li ng-click="toggleForm()" ng-show="view.showCommentPanel && showButtons()"><a>Edit Photo</a></li>
        <!-- <li data-toggle="modal" data-target="#deleteModal" ng-show="showButtons()"><a>Delete Photo</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button">Resources <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-href="#">Hiker's Resource</a></li>
            <li><a ng-href="#">Photographer's Resource</a></li>
          </ul>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="/users/{{currentUser.username}}">{{currentUser.username}}'s Profile</a></li>
        <li><a ng-click="logout()">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">WARNING!</h2>
      </div>
      <h3 class="modal-body">
        Are you sure you want to delete this photo?
        <input type="text" ng-model="deletePhoto.id" ng-show="false">
      </h3>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" ng-click="delete(deletePhoto.id)">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <!-- Display -->
  <div class="col-sm-8">
    <!-- panel for show page -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="photoTitle">{{editPhoto.title}}</span>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-7">
            <img ng-src="{{editPhoto.photoUrl}}" class="photo">
          </div>
          <div class="col-sm-5">
            <div class="photoUsername"><em>@{{editPhoto.username}}</em></div>
            <div class="photoDate">{{editPhoto.updated_at | date:'EEEE, MMMM d, y, h:mm a'}}</div>
            <div class="hr"></div>

            <ul class="nav nav-pills">
              <li class="photoStats">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                Likes <span class="badge">{{numLikes}}</span>
              </li>
              <li class="photoStats">
                <span class="glyphicon glyphicon-heart"></span>
                Favorites
                <span class="badge">{{numFavs}}</span>
              </li>
              <li>
                <span class="glyphicon glyphicon-comment"></span>
                Comments
                <span class="badge">{{numComments}}</span>
              </li>
            </ul>
            <div class="hr"></div>

            <div class="photoCaption">Caption:</div>
            <div class="photoDescription">{{editPhoto.description}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Functionality -->
  <div class="col-sm-4">

    <!-- Edit Form -->
    <form class="form-horizontal" ng-show="view.showEditForm" ng-submit="edit(editPhoto)">
      <fieldset>
        <legend>Edit Photo</legend>
        <!-- error dismissable alert -->
        <div class="alert alert-dismissble alert-warning" ng-show="view.eErrors">
          <button type="button" class="close" ng-click="resetAlert()">X</button>
          <div><strong>Warning!</strong> {{view.eErrors}}</div>
        </div>
        <div class="form-group" ng-show="false">
          <label class="col-md-3 control-label">PhotoId</label>
          <div class="col-md-9">
            <input type="text" class="form-control" ng-model="editPhoto.id">
          </div>
        </div>
        <div class="form-group" ng-show="false">
          <label class="col-md-3 control-label">Username</label>
          <div class="col-md-9">
            <input type="text" class="form-control" ng-model="editPhoto.username">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Title</label>
          <div class="col-md-9">
            <input type="text" class="form-control" ng-model="editPhoto.title">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Photo Url</label>
          <div class="col-md-9">
            <input type="text" class="form-control" ng-model="editPhoto.photoUrl">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Description</label>
          <div class="col-md-9">
            <textarea class="form-control" rows="2" ng-model="editPhoto.description"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10 col-md-offset-3">
            <button type="submit" class="btn btn-primary">Edit</button>
          </div>
        </div>
      </fieldset>
    </form>

    <!-- panel for comments -->
    <div class="panel panel-primary" ng-show="view.showCommentPanel">
      <div class="panel-heading">
        <h3 class="panel-title">Comments</h3>
      </div>
      <div class="panel-body">
        <!-- error dismissable alert -->
        <div class="alert alert-dismissble alert-warning" ng-show="view.cErrors">
          <button type="button" class="close" ng-click="resetAlert()">X</button>
          <div><strong>Warning!</strong> {{view.cErrors}}</div>
        </div>

        <!-- ng-repeat for comments -->
        <table class="table table-striped table-bordered">
          <tbody>

            <tr ng-repeat="comment in comments | orderBy: '-created_at' track by $index">
              <td class="col-sm-11">
                <div><strong>{{comment.username}}</strong>: {{comment.comment}}</div>
                <div class="commentDate"><em>{{comment.created_at | date:'mediumDate'}}</em></div>
              </td>
              <td class="col-sm-1" ng-show="canDelete(comment.username)" ng-click="deleteComment($index)">
                <span class="glyphicon glyphicon-remove"></span>
              </td>
            </tr>
            
          </tbody>
        </table>

        <!-- form for submitting comments -->
        <form ng-submit="post(comment)">
          <div class="row" ng-show="false">
            <input type="text" ng-model="comment.username">
            <input type="text" ng-model="comment.id">
          </div>
          <div class="row">
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="comment.comment">
            </div>
            <div class="col-sm-3">
              <button class="btn btn-primary">Post</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

















