<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="/home">scenicPhoto</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a ng-click="toggleForm()">Add Photo</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button">Resources <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-href="#">Hiker's Resource</a></li>
            <li><a ng-href="#">Photographer's Resource</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="/users/{{currentUser.username}}">{{currentUser.username}}'s Profile</a></li>
        <li><a ng-click="logout()">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div id="photoForm">
    <form class="form-horizontal" ng-show="view.showPhotoForm" ng-submit="post(newPhoto)">
      <fieldset>
        <legend>New Photo</legend>
        <!-- error dismissable alert -->
        <div class="alert alert-dismissble alert-warning" ng-show="view.pErrors">
          <button type="button" class="close" ng-click="resetAlert()">X</button>
          <div><strong>Warning!</strong> {{view.pErrors}}</div>
        </div>
        <div class="form-group" ng-show="false">
          <label class="col-md-2 control-label">Username</label>
          <div class="col-md-10">
            <input type="text" class="form-control" ng-model="newPhoto.username">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Title</label>
          <div class="col-md-10">
            <input type="text" class="form-control" ng-model="newPhoto.title">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Photo Url</label>
          <div class="col-md-10">
            <input type="text" class="form-control" ng-model="newPhoto.photoUrl">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Description</label>
          <div class="col-md-10">
            <textarea class="form-control" rows="2" ng-model="newPhoto.description"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-primary">Post</button>
            <button type="reset" class="btn btn-default" ng-click="toggleForm()">Cancel</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div class="container-fluid">
  <div class="col-sm-1"></div>

  <div class="col-sm-10">
    <div class="row">
      <!-- search and order -->
      <!-- search bar -->
      <div class="col-sm-5">     
        <div class="form-group">
          <label class="form-label">Search photofeed by username, title, or description...</label>
          <input type="text" class="form-control" ng-model="view.query">
        </div>
      </div>
      <div class="col-sm-5">
        <label class="form-label">Sort by: </label>
        <select class="form-control" ng-model="view.order">
          <option value="-updated_at">Newest to Oldest</option>
          <option value="updated_at">Oldest to Newest</option>
          <option value="title">A-Z</option>
          <option value="-title">Z-A</option>
          <option value="-numLikes">Most Likes</option>
          <option value="-numFavs">Most Favorites</option>
          <option value="-numComments">Most Comments</option>
        </select>
        <br>
      </div>
    </div>
    
    <!-- panel for photofeed -->
    <div class="panel panel-primary" ng-repeat="photo in photos | filter:view.query | orderBy:view.order track by $index">
      <div class="panel-heading">
        <a ng-href="/photos/{{photo._id}}" class="photoTitleLink"><span class="photoTitle">{{photo.title}}</span></a>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-7">
            <a ng-href="/photos/{{photo._id}}" class="photoTitleLink">
              <img ng-src="{{photo.photoUrl}}" class="photo">
            </a>
          </div>
          <div class="col-sm-5">
            <div><a ng-href="/users/{{photo.username}}" class="photoUsername"><em>@{{photo.username}}</em></a></div>
            <div class="photoDate">{{photo.updated_at | date:'EEEE, MMMM d, y, h:mm a'}}</div>
            <div class="hr"></div>
            <!-- stats pills -->
            <ul class="nav nav-pills">
              <li class="photoStatsHome">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                Likes <span class="badge">{{photo.numLikes}}</span>
              </li>
              <li class="photoStatsHome">
                <span class="glyphicon glyphicon-heart"></span>
                Favorites
                <span class="badge">{{photo.numFavorites}}</span>
              </li>
              <li>
                <span class="glyphicon glyphicon-comment"></span>
                Comments
                <span class="badge">{{photo.numComments}}</span>
              </li>
            </ul>
            <div class="hr"></div>

            <div class="photoCaption">Caption:</div>
            <div class="photoDescription">{{photo.description}}</div>
            <div class="hr"></div>

            <div>

              <!-- like/dislike -->
              <button class="btn btn-success btn-sm btn-block" ng-click="like(photo._id, photo)" ng-show="user.likedPhotos.indexOf(photo._id) === -1">Like!</button>
              <button class="btn btn-danger btn-sm btn-block" ng-click="dislike(photo._id, photo)" ng-show="user.likedPhotos.indexOf(photo._id) !== -1">Unlike</button>
              
              <!-- favorite/unfavorite -->
              <button class="btn btn-info btn-sm btn-block" ng-click="favorite(photo._id, photo)" ng-show="user.favoritePhotos.indexOf(photo._id) === -1">Save to Favorites!</button>
              <button class="btn btn-warning btn-sm btn-block" ng-click="unfavorite(photo._id, photo)" ng-show="user.favoritePhotos.indexOf(photo._id) !== -1">Unfavorite</button>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-1"></div>
</div>













