<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="/home">scenicPhoto</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button">Resources <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-href="#">Hiker's Resource</a></li>
            <li><a ng-href="#">Photographer's Resource</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="/users/{{currentUser.id}}">{{currentUser.username}}'s Profile</a></li>
        <li><a ng-click="logout()">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="col-sm-4">
    <!-- left panel -->
    <div class="leftPanel">
      <!-- username and photo -->
      <div class="text-center">
        <div class="profileUsername">{{currentUser.username}}</div>
        <img src="../../images/defaultProfile.jpg" class="circle">
      </div>
      <div>
        
      </div>
      <!-- photos -->
      <table class="table">
        <thead>
          <th class="tableValue">{{user.photos.length}} photos</th>
        </thead>
      </table>

      <!-- followers -->
      <table class="table">
        <thead>
          <th class="tableValue">0 followers</th>
        </thead>
      </table>

      <!-- following -->
      <table class="table">
        <thead>
          <th class="tableValue">0 following</th>
        </thead>
      </table>

      <!-- favorited -->
      <table class="table">
        <thead>
          <th class="tableValue">{{user.favoritePhotos.length}} favorited</th>
        </thead>
      </table>
      
      <!-- follow button -->
      <table class="table button">
        <thead>
          <th ng-show="view.showEditProfile"><button class="btn btn-default btn-block">Update Profile</button></th>
          <th ng-show="view.showFollow"><button class="btn btn-default btn-block">Follow</button></th>
        </thead>
      </table>

    </div>
  </div>
</div>





