@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

/*HOMEPAGE*/

#homeBackground {
  margin-top: -21px;
  margin-left: -29px;
  width: 100%;
}

#rightPanel {
  margin-left: -35px;
}

#homeTitle {
  font-family: "Dancing Script";
  font-size: 525%;
  text-align: center;
  margin-top: -20px;
}

#hr {
  color: black;
  background-color: black;
  height: 3px;
  margin-bottom: 23px;
}

#sellingPoints {
  margin-bottom: 20px;
}

#homeWhatTitle {
  font-size: 190%;
  font-family: "Poiret One";
}

#homeWhat {
  margin-top: 10px;
  font-size: 120%;
  font-family: "Poiret One";
  margin-bottom: 20px;
}











