@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Lilita+One);

/*HOMEPAGE*/

#homeBackground {
  margin-top: -21px;
  margin-left: -30px;
  width: 100%;
}
#rightPanel {
  margin-left: -35px;
}
#homeTitle {
  font-family: "Dancing Script";
  font-size: 525%;
  text-align: center;
  margin-top: -26px;
}
#hr {
  color: black;
  background-color: black;
  height: 3px;
  margin-top: -5px;
  margin-bottom: 15px;
}
#sellingPoints {
  margin-bottom: 20px;
}
#homeWhatTitle {
  font-size: 190%;
  font-family: "Poiret One";
}
#homeWhat {
  margin-top: 10px;
  font-size: 140%;
  font-family: "Poiret One";
  margin-bottom: 20px;
}

/*PHOTOFEED*/
.photo {
  width: 100%;
}
.photoTitle, .photoImg {
  font-size: 120%;
  color: white;
}
.photoTitle:hover, .photoImg:hover {
  color: white;
  text-decoration: none;
}
.photoLink, .photoUsername:hover {
  text-decoration: none;
}
.photoTitleLink {
  color: white;
}
.photoTitleLink:hover, {
  text-decoration: none;
  color: white;
}
.photoUsername {
  font-size: 200%;
}
.photoDate {
  font-size: 110%;
}
.hr {
  color: #D6D6D6;
  background-color: #D6D6D6;
  height: 1.4px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.photoStats {
  margin-right: 6px;
}
.photoStatsHome {
  margin-right: 50px;
}
.photoCaption {
  font-size: 140%;
}
.photoDescription {
  font-size: 115%;
}

/*PHOTO SHOW*/
.commentDate {
  font-size: 85%;
}

/*PROFILE*/
@media (min-width: 767px) {
  .leftPanel {
    position: fixed;
    width: 30%;
  }
}
body {
  background-color: lightgrey;
}
.leftPanel {
  background-color: dodgerblue;
  margin-top: -21px;
}
.profileUsername {
  font-family: "Lilita One";
  font-size: 225%;
  color: black;
  margin-top: 12px;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 22px;
  margin-bottom: 25px;
}
.tableValue {
  text-align: center;
  font-size: 125%;
}
.tableValue:hover {
  background-color: dimgrey;
}
.disabledButton:hover {
  cursor: default;
}



