@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

/*HOMEPAGE*/

#homeBackground {
  margin-top: -21px;
  margin-left: -30px;
  width: 100%;
}
#rightPanel {
  margin-left: -35px;
}
#homeTitle {
  font-family: "Dancing Script";
  font-size: 525%;
  text-align: center;
  margin-top: -26px;
}
#hr {
  color: black;
  background-color: black;
  height: 3px;
  margin-top: -5px;
  margin-bottom: 15px;
}
#sellingPoints {
  margin-bottom: 20px;
}
#homeWhatTitle {
  font-size: 190%;
  font-family: "Poiret One";
}
#homeWhat {
  margin-top: 10px;
  font-size: 140%;
  font-family: "Poiret One";
  margin-bottom: 20px;
}

/*PHOTOFEED*/
.photo {
  width: 100%;
}
.photoTitle {
  font-size: 120%;
}
.photoUsername {
  font-size: 200%;
}
.photoDate {
  font-size: 120%;
}
.hr {
  color: #D6D6D6;
  background-color: #D6D6D6;
  height: 1.4px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.photoLikes {
  margin-right: 10px;
}
.photoCaption {
  font-size: 130%;
}
.photoDescription {
  font-size: 115%;
}









